:root {
    --carbon-black: #1a1a1aff;
    --bright-snow: #fafaf8ff;
    --white-smoke: #f5f5f5ff;
    --cosmic-violet:#7738C8;
    --midnight-plum: #541d9c;
    --border-plum: rgba(84, 29, 156, 0.3);

    --black-text: var(--carbon-black);
    --white-text: var(--white-smoke);
    --primary-text: var(--cosmic-violet);

    --blue: #b5f1fc;
    --dark-blue: #85b9c2;
    --dark-blue-text: #457179;

    --green: #baffcf;
    --dark-green: #69c985;
    --dark-green-text: #2fa552;

    --orange: #ffe0cc;
    --dark-orange: #e2ba8d;
    --dark-orange-text: #ad7738;

    --purple: #d5c5f3;
    --dark-purple: #bc9ed1;
    --dark-purple-text: #795296;

    --yellow: #fff3be;
    --dark-yellow: #cec393;
    --dark-yellow-text: #837744;

    --red: #ffb8b8;
    --dark-red: #cc8a8a;
    --dark-red-text: #8f3f3f;

    --pink: #f0d4ed;
    --dark-pink: #c499c1;
    --dark-pink-text:#966292;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
}

main{
    flex: 1;
}

.img{
    width: 120px;
    padding: 1.25rem;
}

h1, h2, h3, p{
    font-weight: 500;
    text-align: center;
    padding: 1.75rem 0 1.5rem 0;
}

h1{
    font-size: 2.575rem;
    color: var(--primary-text);
    font-weight: 600;
    padding: 3rem 0;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.25rem;
    letter-spacing: 0.080rem;
    line-height: 1.25;
    padding: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.25rem 1rem 1.25rem 1rem;
}

.principal{
    padding: 0 1.25rem 0 1.25rem;
}

.svg{
    width: 80px;
    padding: 1rem;
}

.main__img {
    width: 320px;
    padding: 2rem 0 0 0;
}

.hero{
    background-color: var(--midnight-plum);
    color: var(--white-text);
    padding: 5.25rem 0.75rem 10rem 0.75rem;
    border-radius: 10px;
}

.hero p{
    font-weight: normal;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.25rem 1rem 1.25rem 1rem;
    background-color: var(--white-smoke);
    margin: -5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 10px;
    border: 0.5px  solid var(--border-plum);
}

.skills h2{
    font-weight: 600;
    color: var(--cosmic-violet);

}

.skill{
    padding: 0;
}

.skills__subtitle{
    font-size: 1.375rem;
}

.label__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 2.5rem 0;
}

.tag {
    background-color: var(--bg);
    border: 2.25px solid var(--border);
    color: var(--font-color);
    margin: 0.15rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    font-size: 1.125rem;
    font-weight: 500;
}

.tag.blue   {   --bg: var(--blue);       --border: var(--dark-blue);    --font-color: var(--dark-blue-text);}
.tag.green  {   --bg: var(--green);      --border: var(--dark-green);   --font-color: var(--dark-green-text);}
.tag.orange {   --bg: var(--orange);     --border: var(--dark-orange);  --font-color: var(--dark-orange-text);}
.tag.purple {   --bg: var(--purple);     --border: var(--dark-purple);  --font-color: var(--dark-purple-text);}
.tag.yellow {   --bg: var(--yellow);     --border: var(--dark-yellow);  --font-color: var(--dark-yellow-text);}
.tag.red    {   --bg: var(--red);        --border: var(--dark-red);     --font-color: var(--dark-red-text);}
.tag.pink   {   --bg: var(--pink);       --border: var(--dark-pink);    --font-color: var(--dark-pink-text);}

.experience{
    border-radius: 10px;
    color: var(--white-text);
}

.experience__title{
    font-weight: bold;
    color: var(--black-text);
}

.exp__description{
    color: var(--black-text);
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.25rem 1.25rem 1rem 1.25rem;
}

.project__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin: 0 0 1.5rem 0;
    background-color: var(--bright-snow);
    border-radius: 10px;
    color: var(--black-text);
    border: 1px solid var(--midnight-plum);

}

.img__container{
    padding: 1rem 1rem 0 1rem;
}

.img__project{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--border-plum);
}

.about__project{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labels{
    display: flex;
    padding: 1rem 0 0 1rem;
}

.about__project h2,
.about__project p {
    text-align: left;
    padding: 1rem 1rem 0 1rem;
    color: var(--carbon-black);
}

.about__project p{
    font-weight: normal;
    font-size: 1.125rem;
}

.btn__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.btn__container a{
    background-color: var(--midnight-plum);
    color: var(--bright-snow);
    padding: 1rem;
    font-size: 1.125rem;
    text-decoration: none;
    font-weight: 500;
    width: 35%;
    border-radius: 8px;
}

.all__projects a{
    border: 1px solid var(--midnight-plum);
    color: var(--midnight-plum);
    border-radius: 30px;
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
    margin: -2rem 0 2rem 0;
}

.model{
    font-size: 0.675rem;
    font-weight: bold;
}

.job h2{
    font-weight: bold;
    padding: 1rem 0 3rem 0;
}

.job__img__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1.25rem 5rem 1.25rem;
}

.img__format{
    width: 300px;
    border-radius: 10px;
    border: 1px solid var(--carbon-black);
}

footer{
    background-color: var(--white-smoke);
    color: var(--midnight-plum);
    padding: 8rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.25rem;
}

footer p{
    padding: 2rem 0;
}

.footer__svg{
    padding: 5rem 0 3rem 0;
}

.footer__img{
    width: 50px;
    padding: 1.25rem;
}

.link{
    text-decoration: none;
}

.flaticon{
    color: var(--midnight-plum);
    font-weight: 500;
    padding: 0 0 5rem 0;
}

@media (min-width: 1366px) {
    
    .container{
        padding: 2.25rem 5rem 1.25rem 5rem;
    }

    .img{
        width: 200px;
        padding: 1.25rem;
    }

    h1{
       font-size: 4.25rem;
    }

    h2{
        font-size: 2.75rem;
    }

    p{
        font-size: 1.85rem;
    }

    .principal{
        padding: 0 5rem 0 5rem;
    }

    .svg{
        width: 100px;
        padding: 2rem 0 0 2rem;
    }

    .main__img{
        width: 275px;
    }

    .hero{
        padding: 5.25rem 5rem 15rem 5rem;
    }

    .hero h2{
        font-weight: bold;
        padding: 0 0 2rem 0;
    }

    .hero p{   
        line-height: 1.35;
    }

    .skills{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin: -10rem 5rem 1.25rem 5rem;
    }

    .skill{
        width: 100%;
        padding: 0 2rem;
    }

    .nd{
        padding: 1.75rem 0 1.5rem 0;
    }

    .skill h2{
        font-size: 2.25rem;
    }

    .skill p{
        font-size: 1.675rem;
        padding: 1rem 1.25rem 2rem 1.25rem;
    }

    .label__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .label__container span{
        width: 40%;
    }

    .tag{
        width: 50%;
        font-size: 1.375rem;
    }

    .experience{
        padding: 2.25rem 5rem 5rem 5rem;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 2.25rem 1.25rem 1rem 1.25rem;
    }

    .project__container {
        flex: 1 1 350px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .project__details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .labels {
        width: 30%;
        padding: 0.5rem 0 1.25rem 1rem;
    }

    .img__container {
        display: flex;
        align-items: flex-start;
    }

    .img__project {
        width: 100%;
        max-width: 500px;
    }

    .about__project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0 0 0;
    }

    .about__project h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .about__project p {
        font-size: 1.25rem;
        padding: 0.25rem 1.25rem 1.25rem 1.25rem;
    }

    .all__projects a {
        border: 2px solid var(--midnight-plum);
        font-weight: bold;
        padding: 1.25rem 3.5rem 1.25rem 3.5rem;
        margin: 0 0 2rem 0;
        transition: 0.2s ease-in-out;
        font-size: 1.25rem;
    }

    .all__projects a:hover {
        background-color: var(--midnight-plum);
        color: var(--bright-snow);
    }

    .model {
        font-size: 0.875rem;
    }

    .btn__container {
        padding: 0 1.25rem 2rem 1.25rem;
    }

    .btn__container a {
        transition: 0.2s ease-in-out;
    }

    .btn__container a:hover {
        background-color: var(--cosmic-violet);
    }

    .btn__container a:active {
        background-color: var(--carbon-black);
    }

    .job{
        padding: 2.25rem 5rem 5rem 5rem;
    }

    .job h2{
        padding: 1rem 0 5rem 0;
    }

}

@media (min-width: 1750px) {

    .container{
        padding: 2.25rem 8rem 1.25rem 8rem;
    }

    .img{
        width: 225px;
        padding: 1.25rem;
    }

    h1{
        font-size: 6.5rem;
    }

    h2{
        font-size: 3.2rem;
    }

    p{
        font-size: 2.25rem;
    }

    .principal{
        padding: 0 8rem 0 8rem;
    }

    .main__img{
        width: 320px;
    }

    .principal p{
        padding: 2rem 8rem;
    }

    .svg{
        width: 120px;
        padding: 2rem 0 0 2rem;
    }

    .hero{
        padding: 10rem 8rem 15rem 8rem;
    }

    .hero h2{
        font-weight: bold;
        padding: 0 0 2rem 0;
    }

    .hero p{   
        line-height: 1.35;
    }

    .skills{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin: -10rem 8rem 1.25rem 8rem;
    }

    .skill{
        width: 100%;
        padding: 0 2rem;
    }

    .nd{
        padding: 1.75rem 0 1.5rem 0;
    }

    .skill h2{
        font-size: 2.25rem;
    }

    .skill p{
        font-size: 1.675rem;
        padding: 1rem 1.25rem 2rem 1.25rem;
    }

    .label__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tag{
        width: 60%;
        font-size: 1.375rem;
    }

    .experience{
        padding: 4.25rem 5rem 3rem 5rem;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 2.25rem 1.25rem 1rem 1.25rem;
    }

    .project__container {
        flex: 1 1 350px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .project__details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .labels {
        width: 30%;
        padding: 0.5rem 0 1.25rem 1rem;
    }

    .label__container span{
        width: 30%;
    }

    .img__container {
        display: flex;
        align-items: flex-start;
    }

    .img__project {
        width: 100%;
        max-width: 500px;
    }

    .about__project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0 0 0;
    }

    .about__project h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .about__project p {
        font-size: 1.125rem;
        padding: 1.25rem 1.25rem;
    }

    .model {
        font-size: 0.875rem;
    }

    .btn__container {
        padding: 0 1.25rem 2rem 1.25rem;
    }

    .btn__container a {
        transition: 0.2s ease-in-out;
    }

    .btn__container a:hover {
        background-color: var(--cosmic-violet);
    }

    .btn__container a:active {
        background-color: var(--carbon-black);
    }

    .job{
        padding: 1rem 5rem 0 5rem;
    }

    .job h2{
        padding: 1rem 0 5rem 0;
    }

    .job__img__container{
        justify-content: space-evenly;
    }

    .img__format{
        width: 350px;
        
    }

    footer p{
        padding: 3.5rem 0;
    }

    .footer__svg{
        padding: 0 0 6rem 0;
    }

    .network{
        padding: 3rem 0;
    }

    .network img{
        width: 80px;
    }

    .flaticon{
        padding: 0 0 1.75rem 0;
    }
}