:root {
    --carbon-black: #1a1a1aff;
    --bright-snow: #fafaf8ff;
    --white-smoke: #f5f5f5ff;
    --cosmic-violet:#7738C8;
    --midnight-plum: #541d9c;
    --border-plum: rgba(84, 29, 156, 0.3);

    --black-text: var(--carbon-black);
    --white-text: var(--white-smoke);
    --primary-text: var(--cosmic-violet);

    --blue: #b5f1fc;
    --dark-blue: #85b9c2;
    --dark-blue-text: #457179;

    --green: #baffcf;
    --dark-green: #69c985;
    --dark-green-text: #2fa552;

    --orange: #ffe0cc;
    --dark-orange: #e2ba8d;
    --dark-orange-text: #ad7738;

    --purple: #d5c5f3;
    --dark-purple: #bc9ed1;
    --dark-purple-text: #795296;

    --yellow: #fff3be;
    --dark-yellow: #cec393;
    --dark-yellow-text: #837744;

    --red: #ffb8b8;
    --dark-red: #cc8a8a;
    --dark-red-text: #8f3f3f;

    --pink: #ffe7fd;
    --dark-pink: #ccb1ca;
    --dark-pink-text:#754372;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
}

.img{
    width: 120px;
    padding: 1.25rem;
}

h1, h2, h3, p{
    font-weight: 500;
    text-align: center;
    padding: 1.75rem 0 1.5rem 0;
}

h1{
    font-size: 2.575rem;
    color: var(--primary-text);
    font-weight: 600;
    padding: 3rem 0;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.25rem;
    letter-spacing: 0.080rem;
    line-height: 1.25;
    padding: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.25rem 1rem 1.25rem 1rem;
}

.principal{
    padding: 4rem 1.25rem 0 1.25rem;
}

.svg{
    width: 80px;
    padding: 1rem;
}

.main__img {
    width: 320px;
    padding: 2rem 0 0 0;
}

.hero{
    background-color: var(--midnight-plum);
    color: var(--white-text);
    padding: 3rem 0.75rem 10rem 0.75rem;
    border-radius: 10px;
}

.hero img{
    width: 250px;
}

.hero p{
    font-weight: normal;
    text-align: center;
}

.skills{
    background-color: var(--white-smoke);
    margin: -5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 10px;
    border: 0.5px  solid var(--border-plum);
}

.skills h2{
    font-weight: 600;
    color: var(--cosmic-violet);
    padding: 0 0 1.25rem 0;
}

.skill{
    padding: 0;
}

.skills__subtitle{
    font-size: 1.375rem;
}

.label__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 2.5rem 0;
}

.tag {
    background-color: var(--bg);
    border: 2.25px solid var(--border);
    color: var(--font-color);
    margin: 0.15rem;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    font-size: 1.125rem;
    font-weight: 500;
}

.tag.blue   {   --bg: var(--blue);       --border: var(--dark-blue);    --font-color: var(--dark-blue-text);}
.tag.green  {   --bg: var(--green);      --border: var(--dark-green);   --font-color: var(--dark-green-text);}
.tag.orange {   --bg: var(--orange);     --border: var(--dark-orange);  --font-color: var(--dark-orange-text);}
.tag.purple {   --bg: var(--purple);     --border: var(--dark-purple);  --font-color: var(--dark-purple-text);}
.tag.yellow {   --bg: var(--yellow);     --border: var(--dark-yellow);  --font-color: var(--dark-yellow-text);}
.tag.red    {   --bg: var(--red);        --border: var(--dark-red);     --font-color: var(--dark-red-text);}
.tag.pink   {   --bg: var(--pink);       --border: var(--dark-pink);    --font-color: var(--dark-pink-text);}

.experience{
    background-color: var(--midnight-plum);
    margin: 4rem 0 0 0;
    border-radius: 10px;
    color: var(--white-text);
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.25rem 0 3rem 0;
}

.project__container{
    background-color: var(--white-smoke);
    border-radius: 10px;
    color: var(--black-text);
}

.img__project{
    width: 350px;
    margin: 1.25rem 0 0 0;
    border-radius: 10px;
}

.about__project{
    display: flex;
    flex-direction: column;
    justify-content: center;
}